.cart-container {
  background-color: #eaefef;
  color: #333446;
  padding: 30px;
}
.cart-table {
  background-color: #7f8caa;
  color: #eaefef;
}
.cart-table th {
  background-color: #5e677f;
  color: #eaefef;
}
.cart-table td {
  vertical-align: middle;
}

.cart-total {
  background-color: #b8cfce;
  color: #333446;
  font-weight: bold;
}

.cart-summary {
  background-color: #7f8caa;
  color: #fff;
}
.cart-summary h4 {
  color: #eaefef;
}

.btn-success {
  background-color: #3e5f44 !important;
  border: none;
}
.btn-success:hover {
  background-color: #2c4532 !important;
}

.btn-warning {
  background-color: #93da97 !important;
  border: none;
  color: #333446 !important;
}
.btn-warning:hover {
  background-color: #78b87b !important;
}
