<section
  class="vh-100 bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
  "
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label>Full Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="fullName"
                    [ngClass]="{
                      'is-invalid':
                        registerForm.get('fullName')?.invalid &&
                        registerForm.get('fullName')?.touched,
                      'is-valid': registerForm.get('fullName')?.valid
                    }"
                  />
                  @if(registerForm.get('fullName')?.touched &&
                  registerForm.get('fullName')?.invalid) {
                  <div>
                    @if(registerForm.get('fullName')?.errors?.['required']) {
                    <p class="text-danger">Full Name is required</p>
                    } @else if(registerForm.get('fullName')?.errors?.['minlength']) {
                    <p class="text-danger">Minimum 5 characters</p>
                    }
                  </div>
                  }
                </div>

                <div class="mb-3">
                  <label>Email</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    [ngClass]="{
                      'is-invalid':
                        registerForm.get('email')?.invalid && registerForm.get('email')?.touched,
                      'is-valid': registerForm.get('email')?.valid
                    }"
                  />
                  @if(registerForm.get('email')?.touched && registerForm.get('email')?.invalid) {
                  <div>
                    @if(registerForm.get('email')?.errors?.['required']) {
                    <p class="text-danger">Email is required</p>
                    } @else if(registerForm.get('email')?.errors?.['email']) {
                    <p class="text-danger">Invalid email format</p>
                    } @else if(registerForm.get('email')?.errors?.['pattern']) {
                    <p class="text-danger">Invalid email pattern</p>
                    }
                  </div>
                  }
                </div>

                <div class="mb-3">
                  <label>Password</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                    [ngClass]="{
                      'is-invalid':
                        registerForm.get('password')?.invalid &&
                        registerForm.get('password')?.touched,
                      'is-valid': registerForm.get('password')?.valid
                    }"
                  />
                  @if(registerForm.get('password')?.touched &&
                  registerForm.get('password')?.invalid) {
                  <div>
                    @if(registerForm.get('password')?.errors?.['required']) {
                    <p class="text-danger">Password is required</p>
                    } @else if(registerForm.get('password')?.errors?.['minlength']) {
                    <p class="text-danger">Minimum 6 characters</p>
                    }
                  </div>
                  }
                </div>

                <div class="mb-3">
                  <label>Confirm Password</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="confirmPassword"
                    [ngClass]="{
                      'is-invalid':
                        registerForm.hasError('passwordMismatch') ||
                        (registerForm.get('confirmPassword')?.touched &&
                          registerForm.get('confirmPassword')?.invalid),
                      'is-valid':
                        registerForm.get('confirmPassword')?.valid &&
                        !registerForm.hasError('passwordMismatch')
                    }"
                  />
                  @if(registerForm.get('confirmPassword')?.touched) {
                  <div>
                    @if(registerForm.get('confirmPassword')?.errors?.['required']) {
                    <p class="text-danger">Confirm Password is required</p>
                    } @else if(registerForm.hasError('passwordMismatch')) {
                    <p class="text-danger">Passwords do not match</p>
                    }
                  </div>
                  }
                </div>

                <button
                  type="submit"
                  class="btn btn-primary me-2"
                  [disabled]="registerForm.invalid"
                >
                  Register
                </button>
                <button type="button" class="btn btn-secondary" (click)="onReset()">Reset</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
