<footer class="footer-dark text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">About Us</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat pariatur maxime quis culpa
          corporis vitae repudiandae.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="#" class="footer-link">Home</a></li>
          <li><a href="#" class="footer-link">Products</a></li>
          <li><a href="#" class="footer-link">Cart</a></li>
          <li><a href="#" class="footer-link">Contact</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Follow Us</h5>
        <div class="d-flex justify-content-center justify-content-lg-start gap-3">
          <a href="#"><i class="bi bi-facebook social-icon"></i></a>
          <a href="#"><i class="bi bi-twitter social-icon"></i></a>
          <a href="#"><i class="bi bi-instagram social-icon"></i></a>
          <a href="#"><i class="bi bi-github social-icon"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom text-center p-3">© 2025 MyShop | Made by Said</div>
</footer>
