.btn-accent {
  background-color: #93da97;
  color: #333446;
  font-weight: bold;
  border: none;
  padding: 12px 30px;
  transition: 0.3s ease;
}
.btn-accent:hover {
  background-color: #78b87b;
  color: #fff;
}

section {
  height: 70vh;
}
