.custom-navbar {
  background-color: #333446;
}

.custom-navbar .navbar-brand {
  color: #eaefef !important;
}
.custom-navbar .navbar-brand:hover {
  color: #b8cfce !important;
}

.custom-navbar .nav-link {
  color: #eaefef !important;
  transition: 0.3s;
}
.custom-navbar .nav-link.active,
.custom-navbar .nav-link:hover {
  color: #93da97 !important;
}

.custom-toggler {
  border: none;
}
.custom-toggler .navbar-toggler-icon {
  filter: invert(90%);
}

.custom-badge {
  background-color: #7f8caa;
  color: #fff;
}
